/* loads in backend */
/**********************/
/* Gutenberg interface*/
/**********************/
.block-editor-block-card__title.block-editor-block-card__title {
  line-height: 1.4em; }

.components-panel__body > .components-panel__body-title {
  width: auto; }

/*set width */
.edit-post-visual-editor .editor-post-title,
.edit-post-visual-editor .editor-block-list__block, .wp-block {
  max-width: 1140px;
  margin: auto; }

/*disable theme button bg on gutneberg UI */
.edit-post-sidebar button:hover, .edit-post-sidebar button:focus,
.edit-post-header__toolbar button:hover,
.edit-post-header__toolbar button:focus,
.components-menu-group button:hover,
.components-menu-group button:focus,
.components-toolbar-group button:hover,
.components-toolbar-group button:focus,
.block-editor-block-navigation-leaf button:hover,
.block-editor-block-navigation-leaf button:focus,
.block-editor-inserter__tabs button:hover,
.block-editor-inserter__tabs button:focus,
.block-list-appender button:hover,
.block-list-appender button:focus,
.components-modal__header button:hover,
.components-modal__header button:focus,
.components-button[aria-expanded="true"] button:hover,
.components-button[aria-expanded="true"] button:focus, .components-button:hover button:hover, .components-button:hover button:focus,
.edit-post-header__settings button:hover,
.edit-post-header__settings button:focus,
.mce-widget button:hover,
.mce-widget button:focus {
  background-color: transparent; }

.components-button:hover, .components-button:focus, .components-button[aria-expanded=true] {
  background-color: transparent; }

.edit-post-header__settings button:focus, .components-button.is-primary button:focus {
  background-color: var(--wp-admin-theme-color); }

/*exceptions */
.block-editor-inserter__quick-inserter-expand.components-button {
  background-color: #1e1e1e; }

.components-custom-select-control__button.components-custom-select-control__button {
  background-color: transparent; }

.editor-styles-wrapper.editor-styles-wrapper .is-root-container p {
  margin-left: auto;
  margin-right: auto; }

/* gutenberg sidebar style fixes */
.components-panel__header.edit-post-sidebar__panel-tabs ul {
  margin-bottom: 0; }

/*alignments*/
.wp-block[data-align=wide] {
  max-width: 1300px !important; }

/* page title */
.editor-post-title__block .editor-post-title__input {
  font-family: Montserrat;
  font-weight: normal; }

.editor-post-title {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px; }

.block-editor-block-list__block {
  margin-top: 0;
  margin-bottom: 0; }

/*spacing below post */
.edit-post-visual-editor .block-editor-writing-flow__click-redirect {
  min-height: 10vh; }

/**************/
/* SO builder */
/**************/
.editor-styles-wrapper.editor-styles-wrapper .widget {
  margin: 0; }

.siteorigin-widget-field-repeater-item-top h4 {
  color: #fff; }

.so-widget-preview-container .wrap {
  margin: 0;
  /* used in widgets ie: team widget */ }

/**************/
/* Typography */
/**************/
.editor-styles-wrapper.editor-styles-wrapper {
  /*sizes and spacings*/
  /* font families */
  font-family: "Open Sans";
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px; }
  .editor-styles-wrapper.editor-styles-wrapper h1, .editor-styles-wrapper.editor-styles-wrapper .h1 {
    line-height: 48px;
    font-size: 39px; }
  .editor-styles-wrapper.editor-styles-wrapper h2, .editor-styles-wrapper.editor-styles-wrapper .h2 {
    line-height: 36px;
    font-size: 33px; }
  .editor-styles-wrapper.editor-styles-wrapper h3, .editor-styles-wrapper.editor-styles-wrapper .h3 {
    line-height: 36px;
    font-size: 27px; }
  .editor-styles-wrapper.editor-styles-wrapper h4, .editor-styles-wrapper.editor-styles-wrapper .h4 {
    line-height: 24px;
    font-size: 24px; }
  .editor-styles-wrapper.editor-styles-wrapper h5, .editor-styles-wrapper.editor-styles-wrapper .h5 {
    line-height: 24px;
    font-size: 21px; }
  .editor-styles-wrapper.editor-styles-wrapper h6, .editor-styles-wrapper.editor-styles-wrapper .h6 {
    line-height: 24px;
    font-size: 18px; }
  .editor-styles-wrapper.editor-styles-wrapper h1, .editor-styles-wrapper.editor-styles-wrapper h2, .editor-styles-wrapper.editor-styles-wrapper h3, .editor-styles-wrapper.editor-styles-wrapper h4, .editor-styles-wrapper.editor-styles-wrapper h5, .editor-styles-wrapper.editor-styles-wrapper h6 {
    margin-top: 0;
    margin-bottom: 12px; }
  .editor-styles-wrapper.editor-styles-wrapper .panel-title {
    font-size: 16px;
    margin-bottom: 0; }
  .editor-styles-wrapper.editor-styles-wrapper .widget-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px; }
  .editor-styles-wrapper.editor-styles-wrapper h1, .editor-styles-wrapper.editor-styles-wrapper h2, .editor-styles-wrapper.editor-styles-wrapper h3, .editor-styles-wrapper.editor-styles-wrapper h4, .editor-styles-wrapper.editor-styles-wrapper h5, .editor-styles-wrapper.editor-styles-wrapper h6, .editor-styles-wrapper.editor-styles-wrapper h1 a, .editor-styles-wrapper.editor-styles-wrapper h2 a, .editor-styles-wrapper.editor-styles-wrapper h3 a, .editor-styles-wrapper.editor-styles-wrapper h4 a, .editor-styles-wrapper.editor-styles-wrapper h5 a, .editor-styles-wrapper.editor-styles-wrapper h6 a, .editor-styles-wrapper.editor-styles-wrapper .panel-heading, .editor-styles-wrapper.editor-styles-wrapper .font-2, .editor-styles-wrapper.editor-styles-wrapper .team-header .departments a, .editor-styles-wrapper.editor-styles-wrapper .dropcap, .editor-styles-wrapper.editor-styles-wrapper .product-title {
    font-family: Montserrat; }
  .editor-styles-wrapper.editor-styles-wrapper h1, .editor-styles-wrapper.editor-styles-wrapper h2, .editor-styles-wrapper.editor-styles-wrapper h3, .editor-styles-wrapper.editor-styles-wrapper h4, .editor-styles-wrapper.editor-styles-wrapper h5, .editor-styles-wrapper.editor-styles-wrapper h6, .editor-styles-wrapper.editor-styles-wrapper .h1, .editor-styles-wrapper.editor-styles-wrapper .h2, .editor-styles-wrapper.editor-styles-wrapper .h3, .editor-styles-wrapper.editor-styles-wrapper .h4, .editor-styles-wrapper.editor-styles-wrapper .h5, .editor-styles-wrapper.editor-styles-wrapper .h6 {
    font-weight: 400; }
  .editor-styles-wrapper.editor-styles-wrapper a {
    text-decoration: none;
    font-weight: normal; }
  .editor-styles-wrapper.editor-styles-wrapper p {
    padding: 0 0 12px 0;
    margin: 0; }
  .editor-styles-wrapper.editor-styles-wrapper .btn {
    text-decoration: none; }
  .editor-styles-wrapper.editor-styles-wrapper small {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0; }

/**************/
/* Typography */
/*   colors   */
/**************/
.editor-styles-wrapper {
  /* primary */
  /* secondary */
  /* tertiary */ }
  .editor-styles-wrapper .primary-color-bg, .editor-styles-wrapper .bg-c1, .editor-styles-wrapper .primary-hover-bg:hover, .editor-styles-wrapper .primary-hover-bg:focus, .editor-styles-wrapper .closebar, .editor-styles-wrapper .hamburger-box, .editor-styles-wrapper .commentlist .comment.bypostauthor .comment-body, .editor-styles-wrapper .paging-navigation .page-numbers .current, .editor-styles-wrapper .paging-navigation .page-numbers a:hover, .editor-styles-wrapper .tagcloud a:hover, .editor-styles-wrapper .tagcloud a:focus, .editor-styles-wrapper .separator-style-2.style-text-dark:before, .editor-styles-wrapper .separator-style-2.style-primary-color:before, .editor-styles-wrapper .separator-style-2.style-text-default:before, .editor-styles-wrapper .panel-title .primary-hover:not(.collapsed), .editor-styles-wrapper .owl-theme .owl-dots .owl-dot.active, .editor-styles-wrapper .owl-theme .owl-dots .owl-dot:hover, .editor-styles-wrapper .overlay-primary .overlay, .editor-styles-wrapper .overlay-hover-primary:hover .overlay, .editor-styles-wrapper .calendar_wrap table caption, .editor-styles-wrapper aside .widget .widget-title:before, .editor-styles-wrapper .site-footer .widget .widget-title:before, .editor-styles-wrapper .prefooter .widget .widget-title:before, .editor-styles-wrapper mark, .editor-styles-wrapper .mark, .editor-styles-wrapper .page-numbers.p-numbers > li, .editor-styles-wrapper .page-numbers.p-numbers > li:hover a, .editor-styles-wrapper .pika-button:hover, .editor-styles-wrapper .is-selected .pika-button, .editor-styles-wrapper .woo-tabs .panel-title > a.js-tabcollapse-panel-heading:not(.collapsed), .editor-styles-wrapper .nav-tabs.tabs-style-2 > li.active > a, .editor-styles-wrapper .nav-tabs.tabs-style-2 > li:hover > a, .editor-styles-wrapper .ui-slider-range, .editor-styles-wrapper .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .editor-styles-wrapper .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .editor-styles-wrapper .woocommerce-store-notice, .editor-styles-wrapper p.demo_store {
    background-color: var(--color-1); }
  .editor-styles-wrapper .primary-color, .editor-styles-wrapper .text-light .primary-color, .editor-styles-wrapper .text-dark .primary-color,
  .editor-styles-wrapper a.primary-color, .editor-styles-wrapper .text-light a.primary-color, .editor-styles-wrapper .text-dark a.primary-color,
  .editor-styles-wrapper .primary-hover:hover, .editor-styles-wrapper .primary-hover:focus,
  .editor-styles-wrapper .primary-hover:hover .hover-child, .editor-styles-wrapper .primary-hover:focus .hover-child, .editor-styles-wrapper .primary-hover:active, .editor-styles-wrapper .primary-hover:hover:after, .editor-styles-wrapper .primary-hover:active:after {
    color: var(--color-1); }
  .editor-styles-wrapper .primary-border-color, .editor-styles-wrapper .paging-navigation .page-numbers .current,
  .editor-styles-wrapper input:focus, .editor-styles-wrapper textarea:focus, .editor-styles-wrapper .wpcf7-form input:focus, .editor-styles-wrapper .wpcf7-form input:focus, .editor-styles-wrapper .form-control:focus {
    border-color: var(--color-1); }
  .editor-styles-wrapper .secondary-color-bg, .editor-styles-wrapper .bg-c2,
  .editor-styles-wrapper .secondary-hover-bg:hover, .editor-styles-wrapper .secondary-hover-bg:focus,
  .editor-styles-wrapper .separator-style-2.style-secondary-color:before,
  .editor-styles-wrapper .panel-title .secondary-hover:not(.collapsed),
  .editor-styles-wrapper .overlay-secondary .overlay, .editor-styles-wrapper .overlay-hover-secondary:hover .overlay,
  .editor-styles-wrapper .orion-onsale {
    background-color: var(--color-2); }
  .editor-styles-wrapper .secondary-color,
  .editor-styles-wrapper .secondary-color, .editor-styles-wrapper .text-light .secondary-color, .editor-styles-wrapper .text-dark .secondary-color,
  .editor-styles-wrapper a.secondary-color, .editor-styles-wrapper .text-light a.secondary-color, .editor-styles-wrapper .text-dark a.secondary-color,
  .editor-styles-wrapper .secondary-hover:hover, .editor-styles-wrapper .secondary-hover:focus, .editor-styles-wrapper .item-title.secondary-hover:hover,
  .editor-styles-wrapper .secondary-hover:hover .hover-child, .editor-styles-wrapper .secondary-hover:focus .hover-child,
  .editor-styles-wrapper .secondary-hover:active, .editor-styles-wrapper .secondary-hover:hover:after, .editor-styles-wrapper .secondary-hover:active:after {
    color: var(--color-2); }
  .editor-styles-wrapper .secondary-border-color {
    border-color: var(--color-2); }
  .editor-styles-wrapper .tertiary-color-bg,
  .editor-styles-wrapper .bg-c3,
  .editor-styles-wrapper .tertiary-hover-bg:hover, .editor-styles-wrapper .tertiary-hover-bg:focus,
  .editor-styles-wrapper .separator-style-2.style-tertiary-color:before,
  .editor-styles-wrapper .panel-title .tertiary-hover:not(.collapsed),
  .editor-styles-wrapper .overlay-tertiary .overlay, .editor-styles-wrapper .overlay-hover-tertiary:hover .overlay,
  .editor-styles-wrapper .hamburger-box + .woocart, .editor-styles-wrapper .to-x .mobile-call-btn, .editor-styles-wrapper .woocommerce a.button {
    background-color: var(--color-3); }
  .editor-styles-wrapper .tertiary-color, .editor-styles-wrapper .text-light .tertiary-color, .editor-styles-wrapper .text-dark .tertiary-color,
  .editor-styles-wrapper a.tertiary-color, .editor-styles-wrapper .text-light a.tertiary-color, .editor-styles-wrapper .text-dark a.tertiary-color,
  .editor-styles-wrapper .tertiary-hover:hover, .editor-styles-wrapper .tertiary-hover:focus, .editor-styles-wrapper .item-title.tertiary-hover:hover,
  .editor-styles-wrapper .tertiary-hover:hover .hover-child, .editor-styles-wrapper .tertiary-hover:focus .hover-child,
  .editor-styles-wrapper .tertiary-hover:active, .editor-styles-wrapper .tertiary-hover:hover:after, .editor-styles-wrapper .tertiary-hover:active:after,
  .editor-styles-wrapper .tertiary-color {
    color: var(--color-3); }
  .editor-styles-wrapper .tertiary-border-color {
    border-color: var(--color-3); }
  .editor-styles-wrapper.editor-styles-wrapper .text-light .item-title, .editor-styles-wrapper.editor-styles-wrapper .text-dark .text-light .item-title {
    color: var(--color-h-light); }
  .editor-styles-wrapper.editor-styles-wrapper .text-light .text-dark .item-title, .editor-styles-wrapper.editor-styles-wrapper .text-dark .item-title,
  .editor-styles-wrapper.editor-styles-wrapper .text-light .text-dark a.item-title, .editor-styles-wrapper.editor-styles-wrapper .text-dark a.item-title,
  .editor-styles-wrapper.editor-styles-wrapper h1, .editor-styles-wrapper.editor-styles-wrapper h2, .editor-styles-wrapper.editor-styles-wrapper h3, .editor-styles-wrapper.editor-styles-wrapper h4, .editor-styles-wrapper.editor-styles-wrapper h5, .editor-styles-wrapper.editor-styles-wrapper h6, .editor-styles-wrapper.editor-styles-wrapper .h1, .editor-styles-wrapper.editor-styles-wrapper .h2, .editor-styles-wrapper.editor-styles-wrapper .h3, .editor-styles-wrapper.editor-styles-wrapper .h4, .editor-styles-wrapper.editor-styles-wrapper .h5, .editor-styles-wrapper.editor-styles-wrapper .h6, .editor-styles-wrapper.editor-styles-wrapper .item-title, .editor-styles-wrapper.editor-styles-wrapper a.item-title, .editor-styles-wrapper.editor-styles-wrapper a:not(:hover) > h2.item-title.text-dark, .editor-styles-wrapper.editor-styles-wrapper a:not(:hover) > h3.item-title.text-dark, .editor-styles-wrapper.editor-styles-wrapper a:not(:hover) > h4.item-title.text-dark, .editor-styles-wrapper.editor-styles-wrapper .woocommerce div.product p.price, .editor-styles-wrapper.editor-styles-wrapper .orion-product-title, .editor-styles-wrapper.editor-styles-wrapper label,
  .editor-styles-wrapper.editor-styles-wrapper .text-dark h1, .editor-styles-wrapper.editor-styles-wrapper .text-dark h2, .editor-styles-wrapper.editor-styles-wrapper .text-dark h3, .editor-styles-wrapper.editor-styles-wrapper .text-dark h4, .editor-styles-wrapper.editor-styles-wrapper .text-dark h5, .editor-styles-wrapper.editor-styles-wrapper .text-dark h6,
  .editor-styles-wrapper.editor-styles-wrapper h1.text-dark, .editor-styles-wrapper.editor-styles-wrapper h2.text-dark, .editor-styles-wrapper.editor-styles-wrapper h3.text-dark, .editor-styles-wrapper.editor-styles-wrapper h4.text-dark, .editor-styles-wrapper.editor-styles-wrapper h5.text-dark, .editor-styles-wrapper.editor-styles-wrapper h6.text-dark,
  .editor-styles-wrapper.editor-styles-wrapper .editor-post-title .editor-post-title__input {
    color: var(--color-h-dark); }

/***********/
/* WIDGETS */
/***********/
/* carousels */
.so-widget-orion_revslider_w {
  display: block !important;
  min-height: 80px;
  background-color: #f8f8f8;
  position: relative; }
  .so-widget-orion_revslider_w:before {
    content: "Preview unavailable" !important;
    position: absolute;
    top: 26px;
    left: calc(50% - 75px);
    color: #ccc; }
  .so-widget-orion_revslider_w .owl-carousel {
    display: none !important; }

.owl-carousel {
  display: block !important;
  counter-reset: owl-counter; }
  .owl-carousel:before {
    content: "Partial Preview" !important;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #ccc;
    background-color: #f8f8f8;
    display: block; }
  .owl-carousel[data-col="3"] > * {
    max-width: 33%;
    float: left; }
  .owl-carousel[data-col="2"] > * {
    max-width: 50%;
    float: left; }
  .owl-carousel[data-col="4"] > * {
    max-width: 25%;
    float: left; }
  .owl-carousel[data-col="6"] > * {
    max-width: 16.6%;
    float: left; }
  .owl-carousel > .item:before {
    display: table;
    counter-increment: owl-counter;
    content: "Nr " counter(owl-counter) ": ";
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #ccc;
    background-color: #f4f4f4; }

/* Accordion */
.so-widget-orion_accordion_w .panel-collapse.collapse:not(.in) {
  display: none; }

/* before after */
.so-widget-orion_before_after_w img {
  max-width: 50%;
  float: left; }

.so-widget-orion_before_after_w:before {
  content: "Before & After slider"; }

/*Contact forms */
.block-editor.gutenberg .wpcf7-submit {
  pointer-events: none; }

.editor-styles-wrapper .wpcf7-form select {
  padding-left: 20px;
  max-width: unset; }

.editor-styles-wrapper .wpcf7-form .select:after {
  display: none; }

/*logos widget */
.logos-wrap.carousel .cell-wrap {
  padding-bottom: 15px !important;
  padding-top: 15px !important; }

/*Custom carousel */
.so-widget-orion_custom_carousel_w .owl-carousel > .item {
  display: block; }
  .so-widget-orion_custom_carousel_w .owl-carousel > .item:before {
    display: block; }
  .so-widget-orion_custom_carousel_w .owl-carousel > .item .subtitle {
    padding-left: 0; }

/* Timeline */
.timeline-item.highlight {
  background-color: transparent; }

/* maps embed */
.so-widget-orion_responsive_map_w .maps-wrapper {
  height: auto !important; }

/*Orion list w */
.editor-styles-wrapper .so-widget-orion_list_w ul {
  margin-left: 0;
  padding-left: 0; }

/* tabs */
.editor-styles-wrapper .nav-tabs {
  margin-bottom: -2px;
  margin-left: 0; }

.editor-styles-wrapper .nav-stacked {
  list-style: none;
  margin-bottom: 0; }
  .editor-styles-wrapper .nav-stacked li > a {
    display: block; }

.editor-styles-wrapper .tabs-left .nav-stacked {
  margin-left: 0; }

.editor-styles-wrapper .tabs-right .nav-stacked {
  padding-left: 0;
  margin-left: 0; }

.editor-styles-wrapper .tab-pane:not(.active) {
  display: none; }

/***********/
/* Blocks */
/***********/
